# local package
-e .

# Misc
pandas == 1.5.2
torch-tb-profiler
pyarrow
matplotlib
tensorboard
pytigergraph[gds]
python-dotenv

# Development
click
black
flake8
flake8-docstrings
isort
jupyter
pytest
pytest-xdist